@charset "UTF-8";

@import "mixins";

@include font-face("formulierapp", "/fonts/formulierapp");

@include font-face("Proxima Nova", "/fonts/proximanova-light-webfont", 300);
@include font-face("Proxima Nova", "/fonts/proximanova-lightitalic-webfont", 300, italic);

@include font-face("Proxima Nova", "/fonts/proximanova-regular-webfont");
@include font-face("Proxima Nova", "/fonts/proximanova-regularitalic-webfont", normal, italic);

@include font-face("Proxima Nova", "/fonts/proximanova-semibold-webfont", 600);
@include font-face("Proxima Nova", "/fonts/proximanova-semibolditalic-webfont", 600, italic);

@include font-face("Proxima Nova", "/fonts/proximanova-bold-webfont", bold);
@include font-face("Proxima Nova", "/fonts/proximanova-boldit-webfont", bold, italic);

@include font-face("Proxima Nova", "/fonts/proximanova-extrabold-webfont", 900);

[data-icon]:before {
  font-family: "formulierapp" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "formulierapp" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-roundcross:before {
  content: "a";
}
.icon-plus:before {
  content: "b";
}
.icon-link:before {
  content: "c";
}
.icon-share:before {
  content: "d";
}