@import configuration
@import packages/bourbon/bourbon
@import packages/neat/neat
@import animate
@import fonts

body
  background: #f5f5f5
  font-family: "Proxima Nova"

.container
  @include outer-container
  @include pad

// Header
#header
  background: url(/images/header.jpg)
  color: #fff
  min-height: 100px

  h1
    font-size: 52px
    font-weight: 300
    text-align: center
    margin: 72px 0 0 0

  p
    color: #ddd
    font-size: 20px
    line-height: 30px
    margin-bottom: 72px
    text-align: center

  input
    background: none
    border: none
    color: #fff
    font-size: 52px
    font-weight: 300
    margin: 72px 0
    line-height: 68px
    outline: none
    text-align: center
    width: 100%

// Create form
.form-entries
  padding-top: 20px

// Share form
a.share-form
  background: #06557e
  border-radius: 3px
  color: #fff
  display: inline-block
  font-size: 16px
  font-weight: 600
  line-height: 46px
  padding: 0 18px
  position: absolute
  right: 10px
  text-decoration: none
  top: 10px
  @include transition(background .2s ease)

  &:hover
    background: darken(#06557e, 5%)

  &:before
    font-size: 120%
    margin-right: 8px
    vertical-align: sub

// Add entry
.add-entry
  color: #333
  display: block
  font-size: 42px
  margin-top: 20px
  text-align: center
  text-decoration: none
  @include transition(color .2s ease)

  &:hover
    color: #666

.control-group-divider
  border-bottom: 1px solid #e9e9e9

.entry-form:last-child .control-group-divider
  border: none

.control-group
  @include outer-container
  @include pad(10px default)

  .delete-entry
    color: #c7c7c7
    display: block
    float: right
    font-size: 18px
    margin-right: -36px
    margin-top: 16px
    text-align: center
    text-decoration: none
    @include transition(color .2s ease)

    &:hover
      color: #bd8585

  .control-label
    @include span-columns(5)

  .control-input
    @include span-columns(7)

  .control-label-textarea
    background: none
    border: none
    color: #666
    font-size: 16px
    height: 32px
    line-height: 24px
    margin: 12px 0 0 0
    outline: none
    resize: none
    width: 100%

    &:first-line
      color: #333
      font-size: 18px
      font-weight: 600

// Submit form
.form-footer
  border-top: 2px solid #e9e9e9
  margin: 48px 0
  padding: 24px 0

.form-submit-button
  background: #06557e
  border: none
  border-radius: 3px
  color: #fff
  display: block
  font-size: 20px
  font-weight: 600
  line-height: 60px
  padding: 0 60px
  margin: 0 auto
  @include transition(background .2s ease)

  &:hover
    background: darken(#06557e, 5%)

  &:before
    font-size: 120%
    margin-right: 12px
    vertical-align: sub

// Modal
#overlay
  background: rgba(0, 0, 0, .6)
  display: none
  height: 100%
  position: fixed
  top: 0
  width: 100%

  .modal
    text-align: center
    @include outer-container
    @include pad

  .modal-container
    background: #f5f5f5
    border-radius: 3px 3px 5px 5px
    position: relative
    text-align: left
    @include span-columns(8)
    @include shift(2)

    @include media($mobile)
      @include span-columns(4)
      @include shift(0)

  .modal-header
    padding: 0 24px

    h2
      color: #06557e
      font-size: 24px
      font-weight: 600
      margin-top: 24px

    .close-modal
      color: #999
      font-size: 22px
      font-weight: 900
      padding: 6px 8px
      position: absolute
      right: 0
      text-decoration: none
      top: 0

      &:hover
        color: #333

  .modal-content
    padding: 0 24px

    input[type="text"]
      margin: 14px 0

    p
      color: #333
      line-height: 24px
      margin-top: 16px
      margin-left: 16px

    p strong
      font-weight: 600

  .modal-footer
    margin-top: 24px

    button
      background: #06557e
      border-radius: 0 0 3px 3px
      border: none
      color: #fff
      font-size: 18px
      font-weight: 600
      line-height: 50px
      width: 100%
      @include transition(background .2s ease)

      &:before
        font-size: 120%
        margin-right: 10px
        vertical-align: middle

      &:hover
        background: darken(#06557e, 5%)

// Input fields

input[type="text"].input, textarea.input
  border: 1px solid #e2e2e2
  border-radius: 3px
  color: #999
  display: block
  font-size: 16px
  font-style: italic
  line-height: 32px
  margin: 0
  padding: 8px 16px
  resize: none
  width: 100%

  &[name="value"], &.input-value
    color: #333
    font-style: normal

    @include placeholder
      font-style: italic

textarea.input
  height: 120px