@import configuration
@import packages/bourbon/bourbon
@import packages/neat/neat
@import animate
@import fonts

body
  background: url(/images/bg.jpg)
  background-size: cover
  background-repeat: no-repeat
  background-color: #130606
  font-family: $font-sans-serif

html
  height: 100%

body
  height: 100%
  min-height: 100%

#main_container
  background: #f5f5f5
  box-shadow: 5px 0 10px rgba(0, 0, 0, .25)
  min-height: 100%
  padding-bottom: 100px
  position: relative
  z-index: 2
  @include transition(all .2s ease)

.navigation-open #main_container
  border-radius: 5px
  overflow: hidden
  @include transform(translateX(500px) scale(0.9))

.navigation-open
  overflow: hidden

.container
  @include outer-container
  @include pad

// Navigation
#navigation_button
  padding: 12px
  position: absolute
  z-index: 2

  .bar1, .bar2, .bar3
    background: #fff
    border-radius: 2px
    display: block
    height: 4px
    margin: 6px
    width: 32px

  .bar3
    width: 24px
    @include transition(width .2s ease)

  &:hover .bar3
    width: 32px

#navigation
  list-style: none
  margin: 0
  padding: 0
  padding-top: 64px
  position: absolute
  width: 520px

  a, #logo
    color: #fff
    display: block
    font-size: 24px
    font-weight: 300
    line-height: 48px
    text-decoration: none
    opacity: .8
    padding: 0 32px
    white-space: nowrap

  a
    @include transition(padding .2s ease)

    &:hover
      padding-left: 42px

  #logo
    font-size: 32px
    font-weight: 600
    line-height: 64px

    &:before
      margin-right: 8px
      vertical-align: sub

  li.bottom
    margin-top: 64px

// Header
#header
  background: url(/images/header.jpg)
  background-size: cover
  color: #fff
  min-height: 100px
  position: relative
  @include transition(border-radius .2s ease)

  h1
    font-size: 52px
    font-weight: 300
    line-height: 68px
    text-align: center
    margin: 72px 0 0 0

  p
    color: #fff
    font-size: 20px
    line-height: 30px
    margin-bottom: 72px
    opacity: .8
    text-align: center

  input.header-input
    background: none
    border: none
    color: #fff
    font-size: 52px
    font-weight: 300
    height: 68px
    margin: 72px 0
    line-height: 68px
    outline: none
    text-align: center
    width: 100%

    @include placeholder
      color: rgba(255, 255, 255, .5)

  a.form-new-button
    background: #c24444
    border-radius: 3px
    color: #fff
    display: inline-block
    font-size: 24px
    font-weight: 600
    line-height: 68px
    margin: 72px 0
    padding: 0 28px
    text-decoration: none
    @include transition(background .2s ease)

    &:before
      font-size: 120%
      margin-right: 16px
      vertical-align: sub

    &:hover
      background: darken(#c24444, 5%)

.share-link-container
  background: rgba(255, 255, 255, .1)
  text-align: center
  padding: 14px
  position: absolute
  width: 100%
  z-index: 1

  input
    display: none

  .share-link
    background: rgba(0, 0, 0, .25)
    border: none
    border-radius: 3px
    color: #fff
    display: inline-block
    font-size: 16px
    font-weight: 600
    line-height: 26px
    outline: none
    padding: 6px 12px
    text-decoration: none
    @include transition(background-color .2s ease)

    &:hover
      background: rgba(0, 0, 0, .4)

    span
      color: #fff
      opacity: .5

      &:before
        font-size: 120%
        margin-right: 8px
        vertical-align: sub

// New form
.form-new-header
  text-align: center

// Create form
.form-entries
  padding-top: 20px

// Share form
.header-actions
  position: absolute
  right: 10px
  top: 10px
  z-index: 2

.header-actions a
  color: #fff
  display: inline-block
  font-size: 16px
  font-weight: 600
  line-height: 46px
  padding: 0 18px
  text-decoration: none
  @include transition(background .2s ease)

  &:hover
    opacity: .75

  &:before
    font-size: 120%
    margin-right: 8px
    vertical-align: sub

// Add entry
.add-entry
  color: #333
  display: block
  font-size: 42px
  margin-top: 20px
  text-align: center
  text-decoration: none
  @include transition(color .2s ease)

  &:hover
    color: #666

.control-group-divider
  border-bottom: 1px solid #e9e9e9

.entry-form:last-child .control-group-divider
  border: none

.control-group
  @include outer-container
  @include pad(10px default)

  .delete-entry
    color: #c7c7c7
    display: block
    float: right
    font-size: 16px
    margin-right: -36px
    margin-top: 4px
    padding: 12px 6px
    text-align: center
    text-decoration: none
    @include transition(color .2s ease)

    &:hover
      color: #bd8585

  .control-label
    @include span-columns(5)

  .control-input
    position: relative
    @include span-columns(7)

  .control-label-textarea
    background: none
    border: none
    color: #666
    font-family: $font-sans-serif
    font-size: 16px
    line-height: 24px
    margin: 12px 0
    outline: none
    resize: none
    width: 100%
    @include transition(height .2s ease)

    &:first-child
      margin-bottom: 0px

    &:last-child
      margin-top: 0px

    @include placeholder
      font-style: italic

  .label-input
    color: #333
    font-size: 18px
    font-weight: 600

  textarea.control-label-textarea
    margin-bottom: -18px

    &:first-child
      margin-bottom: -24px

// Submit form
.form-footer
  border-top: 2px solid #e9e9e9
  margin: 48px 0
  padding: 24px 0

.form-submit-button
  background: #06557e
  border: none
  border-radius: 3px
  color: #fff
  display: block
  font-size: 20px
  font-weight: 600
  line-height: 60px
  padding: 0 60px
  margin: 0 auto
  @include transition(background .2s ease)

  &:hover
    background: darken(#06557e, 5%)

  &:before
    font-size: 120%
    margin-right: 12px
    vertical-align: sub

  &[disabled]
    background: tint(#06557e, 50%)

// Modal
#overlay
  background: rgba(0, 0, 0, .6)
  display: none
  height: 100%
  position: fixed
  top: 0
  width: 100%
  z-index: 9

  .modal
    text-align: center
    @include outer-container
    @include pad

  .modal-container
    background: #f5f5f5
    border-radius: 3px 3px 5px 5px
    position: relative
    text-align: left
    @include span-columns(8)
    @include shift(2)

    @include media($mobile)
      @include span-columns(4)
      @include shift(0)

  .modal-header
    padding: 0 24px

    h2
      color: #06557e
      font-size: 24px
      font-weight: 600
      margin-top: 24px

    .close-modal
      color: #999
      font-size: 22px
      font-weight: 900
      padding: 6px 8px
      position: absolute
      right: 0
      text-decoration: none
      top: 0

      &:hover
        color: #333

  .modal-content
    padding: 0 24px

    input[type="text"]
      margin: 14px 0

    p
      color: #333
      line-height: 24px
      margin-top: 16px
      margin-left: 16px

    p strong
      font-weight: 600

  .modal-footer
    margin-top: 24px

    button
      background: #06557e
      border-radius: 0 0 3px 3px
      border: none
      color: #fff
      font-size: 18px
      font-weight: 600
      line-height: 50px
      width: 100%
      @include transition(background .2s ease)

      &:before
        font-size: 120%
        margin-right: 10px
        vertical-align: middle

      &:hover
        background: darken(#06557e, 5%)

// Input fields

.input
  border: 1px solid #e2e2e2
  border-radius: 3px
  color: #999
  display: block
  font-size: 16px
  font-style: italic
  height: 48px
  line-height: 32px
  margin: 0
  outline: none
  padding: 8px 150px 8px 16px
  resize: none
  width: 100%

  &[name="value"], &.input-value
    color: #333
    font-style: normal

    @include placeholder
      font-style: italic

textarea.input
  height: 135px

// Form Submit
.public-form
  .input, textarea.input

    color: #333
    font-style: normal

    @include placeholder
      font-style: italic

  .input-checkbox, .input-radio
    label
      background: #fff
      border: 1px solid #e2e2e2
      border-top: none
      color: #333
      cursor: pointer
      display: block
      font-weight: 600
      line-height: 32px
      padding: 8px 16px

    label:hover
      background: #f5f5f5

    input
      margin-right: 8px

    &:first-child label
      border-top: 1px solid #e2e2e2
      border-radius: 3px 3px 0 0

    &:last-child label
      border-radius: 0 0 3px 3px

// Input types
.input
  &.input-postal-code
    text-transform: uppercase

    @include placeholder
      text-transform: none

// Entry form
.entry-form
  .entry-type
    position: absolute
    right: 0

  .control-input
    textarea.input
      line-height: 24px
      padding: 12px 150px 12px 16px

    textarea.textarea-checkbox, textarea.textarea-radio
      background: url(/images/checkbox.png)
      background-attachment: local
      background-repeat: repeat-y
      background-color: #fff
      background-position: 0 13px
      color: #333
      font-style: normal
      font-weight: 600
      line-height: 30px
      padding: 7px 150px 7px 40px

    textarea.textarea-radio
      background-image: url(/images/radio.png)

// Results
.form-results
  overflow: scroll
  padding: 0 20px 50px 0
  white-space: nowrap

.result-page
  background: #fff
  display: inline-block
  margin: 20px 0 0 20px
  padding: 24px
  vertical-align: top
  white-space: normal
  width: 25%
  @include box-shadow(0 2px 5px rgba(0, 0, 0, .05))
  @include transition(all .2s ease)

  &:hover
    @include box-shadow(0 2px 10px rgba(0, 0, 0, .1))
    @include transform(scale(1.02))

  .result-timestamp
    color: #999
    float: right
    font-size: 12px

  h2
    font-size: 16px
    font-weight: 600
    margin: 0

  p
    color: #333
    font-size: 15px
    margin: 0
    margin-bottom: 24px

  em
    color: #999
    font-size: 15px
    font-style: italic

  h2, p, em
    line-height: 24px

// Select dropdown
.select-dropdown
  background: none
  border-radius: 3px
  display: block
  line-height: 28px
  margin: 0
  padding: 0
  position: relative
  @include transition(border .2s ease)

  .entry-label
    color: #666
    cursor: pointer
    font-size: 12px
    font-weight: 600
    line-height: 50px
    padding: 0 8px 0 16px
    text-transform: uppercase

    i
      color: #999
      font-size: 14px
      line-height: 50px

    i:before
      vertical-align: sub

  &.opened .entry-label
    background: tint(#06557e, 20%)
    border-radius: 7px 7px 0 0
    color: #fff

    i
      color: #fff

  .dropdown
    background: tint(#06557e, 20%)
    border-radius: 7px 0 7px 7px
    display: none
    position: absolute
    right: 0
    top: 50px
    width: 420px
    z-index: 2

  &.opened .dropdown
    display: block

  .dropdown .dropdown-column
    border-right: 2px dashed rgba(255, 255, 255, .1)
    float: left
    width: 140px

    &:last-child
      border-right: none

  .dropdown a
    color: rgba(255, 255, 255, .6)
    display: block
    height: 42px
    text-decoration: none
    font-size: 14px
    font-weight: 600
    line-height: 42px
    padding: 0 16px

    &:hover, &.selected
      color: #fff

    &:before
      font-size: 16px
      margin-right: 8px
      vertical-align: sub

#login-buttons
  position: relative
  width: 90%
  z-index: 1

#login-dropdown-list
  background: none
  border: none
  box-shadow: none
  margin: 0
  padding: 48px 0 0 34px
  width: 100%

  .login-close-text
    display: none

  label
    display: none

  input[type="password"], input[type="email"]
    background: rgba(255, 255, 255, .15)
    border: none
    color: #fff
    font-size: 14px
    line-height: 18px
    margin: 12px 0
    outline: none
    padding: 12px

  .login-button
    background: #b23a3a
    border: none
    font-size: 13px
    font-weight: 500
    line-height: 36px
    text-transform: uppercase

    &:hover
      background: shade(#b23a3a, 20%)

  .additional-link-container a
    font-size: 16px
    font-weight: 500
    text-align: center
    width: 100%