<template name="form">

  <div id="header">
    <div class="container">
      <div data-0="opacity: 1; transform: translateY(0px);" data-300="opacity: 0; transform: translateY(100px)">
        <h1>{{name}}</h1>
        <pre>{{personal_message}}</pre>
      </div>
    </div>
  </div>

  <form class="public-form">
    <div class="form-entries">
      {{#each entries}}
        {{> entry}}
      {{/each}}
    </div>

    <div class="form-footer">
      <button class="form-submit-button icon-mail" type="submit">Verzenden naar {{creator}}</button>
    </div>
  </form>

</template>