<template name="formEdit">
  <div id="header">
    <div class="header-actions">
      <a href="{{pathFor 'formResults'}}" class="icon-results">Resultaten</a>
      <a href="#" class="share-form icon-share">Deel formulier</a>
    </div>

    <div class="container">
      <input type="text" name="name" class="header-input" placeholder="Titel" value="{{name}}" />
    </div>
  </div>

  <div class="form-entries">    
    {{#each entries}}
      {{> entryForm}}
    {{/each}}
  </div>

  <a href="#" class="add-entry icon-plus"></a>

  {{> formShare}}
</template>

